.tracking-timeline {
  position: relative;
  padding-left: 20px;
}

.tracking-step {
  position: relative;
  margin-bottom: 30px;
}

.icon-container {
  position: relative;
  width: 20px;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.line {
  position: absolute;
  top: 16px;
  left: 6px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
}
